extends base
block contenido
    .container-fluid.mt-3
        .row
            .col-sm-10.offset-sm-1
                h3.bg-dark.text-white
                    | Elaborado por los estudiantes:
                table.table.text-center
                    tbody
                        tr
                            td
                                img(src='/img/dev_1.jpg', width='100px')
                            td
                                img(src='/img/dev_2.jpg', width='100px')
                        tr
                            td
                                b Joel Gutiérrez
                            td
                                b Isaac Quinzada
                h3.bg-dark.text-white
                    | Facilitador:
                table.table.text-center
                    tbody
                        tr
                            td
                                img(src='/img/dev_3.jpeg', width='100px')
                        tr
                            td
                                b Erick Agrazal
                h3.bg-dark.text-white
                    | Con el respaldo de:
                table.table.text-center
                    tbody
                        tr
                            td
                                img(src='/img/utp.png', width='100px')
                            td
                                img(src='/img/logofisc.png', width='100px')
                        tr
                            td
                                b Universidad Tecnológica de Panamá
                            td
                                b Facultad de Ingeniería de Sistemas Computacionales
                h3.bg-dark.text-white
                    | Licencias:
                table.table.text-center
                    tbody
                        tr
                            td
                                img(src='/img/bootstrap.png', width='50px')
                            td
                                img(src='/img/lumino.png', height='50px')
                            td
                                img(src='/img/fontawesome.png', width='50px')
                            td
                                img(src='/img/jQuery-Logo.png', height='50px')
                            td
                                img(src='/img/typeahead.png', width='50px')
                        tr
                            td
                                b Bootstrap
                            td
                                b
                                    | Lumino Admin 
                                    a(href='https://medialoot.com/item/lumino-admin-bootstrap-template/') Download
                            td
                                b FontAwesome 4.7.0
                            td
                                b JQuery
                            td
                                b typeahead.js
