extends base
block contenido    
    // Cuerpo
    .container
        br
        h3 DESARROLLADORES
        hr
        h4 Alkemist
        img(src='/img/ALTKEMISTLogo.png', width='100px', height='100px')
        br
        p CEO: Isaac Quinzada
        p Descripcion: Software para usuarios comunes. Plataformas disponibles: WEB, PC, Linux, Android
        hr
        img(src='/img/emgrtoolslogo.png', height='75px')
        p CEO: Eloy Gonzalez
        p Descripcion: El mundo necesita apps, muchas apps. Nuestra misión es ofrecer apps útiles, sencillas, de calidad y para todas las plataformas.
        hr
        h4 HV Games
        img(src='/img/hvgames.png', height='100px')
        p CEO: Hector Vasquez
        p Descripcion: HV Games crea videojuegos educativos y de entretenimiento.

