extends base.pug
block contenido
    #sliderimg.carousel.slide(data-ride='carousel')
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src='/img/test1.jpg', alt='First slide')
            .carousel-item
                img.d-block.w-100(src='/img/test2.jpg', alt='Second slide')
            .carousel-item
                img.d-block.w-100(src='/img/test3.jpg', alt='Third slide')
        a.carousel-control-prev(href='#sliderimg', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Atrás
        a.carousel-control-next(href='#sliderimg', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Siguiente
    br
    .container-fluid
        .row.text-center
            .col-sm-8.offset-sm-2
                h3 ¡LO MÁS POPULAR!
        .row
            .col-sm-8.offset-sm-2
                table.table.text-center.table-responsive
                    thead
                        tr
                            th(scope='col') APP 1
                            th(scope='col') APP 2
                            th(scope='col') APP 3
                            th(scope='col') APP 4
                    tbody
                        tr
                            td
                                a(href='#')
                                    img(src='/img/logoapp.png', width='50%')
                            td
                                a(href='#')
                                    img(src='/img/logoapp.png', width='50%')
                            td
                                a(href='#')
                                    img(src='/img/logoapp.png', width='50%')
                            td
                                a(href='#')
                                    img(src='/img/logoapp.png', width='50%')