extends base
block contenido    
    // Cuerpo
    .container
        br
        h3 PRODUCTOS / JUEGOS
        hr
        #accordionExample.accordion
            .card
                #headingOne.card-header
                    h5.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                            | JUEGOS 
                            i.fa.fa-book(aria-hidden='true')
                #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                    .card-body
                        .row-center
                            table.table.table-bordered.table-hover.table-responsive-sm
                                thead.thead-dark
                                    tr
                                        th Nombre
                                        th Logo
                                        th Descripción
                                        th Precio
                                    each lista in modelo
                                        tr
                                            td
                                                h4
                                                    | #{lista.nombre}
                                            td
                                                img(src=lista.logo.replace('public',''), width='100px')
                                            td
                                                | #{lista.descripcion}
                                            td
                                                | #{lista.precio}
            .card
                #headingTwo.card-header
                    h5.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
    br
    br