extends admin-base
block contenido
    .col-sm-9.col-sm-offset-3.col-lg-10.col-lg-offset-2.main
        .row
            ol.breadcrumb
                li
                    a(href='#')
                    em.fa.fa-home
                li.active Usuarios
        .row
            .col-sm-12
                p.back-link
                    | Lumino Theme by 
                    a(href='https://www.medialoot.com') Medialoot